<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bindstone.graphbank.repository.CountryMapper">

   <resultMap type="com.bindstone.graphbank.domain.Country" id="CountryMap">
      <id column="COUNTRY_ID" property="nodeId"/>
      <result column="COUNTRY_UUID" property="id" jdbcType="VARCHAR"/>
      <result column="COUNRY_NODE_ID" property="nodeId" jdbcType="NUMERIC"/>
      <result column="COUNTRY_NAME" property="name" jdbcType="VARCHAR"/>
      <result column="COUNTRY_CREATED" property="created" jdbcType="TIMESTAMP"/>
      <result column="COUNTRY_MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
      <association property="currency" javaType="com.bindstone.graphbank.domain.Currency">
      </association>
   </resultMap>

   <sql id="country_result">
      id(country) AS COUNTRY_ID,
      country.id AS COUNTRY_UUID,
      country.name AS COUNTRY_NAME,
      country.created AS COUNTRY_CREATED,
      country.modified AS COUNTRY_MODIFIED
    </sql>

   <sql id="country_update">
        country.name = #{name},
        country.modified = #{modified}
    </sql>

   <sql id="country_insert">
      id: #{id},
      name: #{name},
      created: #{created},
      modified: #{modified}
    </sql>

   <select id="findAll" resultMap="CountryMap">
      MATCH (country:Country) RETURN
      <include refid="country_result"/>
   </select>

   <select id="findById" parameterType="String" resultMap="CountryMap">
      MATCH (country:Country {id: #{id}}) RETURN
      <include refid="country_result"/>
   </select>

   <update id="update" parameterType='com.bindstone.graphbank.domain.Country'>
      MERGE (country:Country {id: #{id}}) ON MATCH SET
      <include refid="country_update"/>
   </update>

   <insert id='insert' parameterType='com.bindstone.graphbank.domain.Country' keyProperty="nodeId" keyColumn="ID">
      CREATE (country:Country {
      <include refid="country_insert"/>
      })
   </insert>

   <delete id="delete" parameterType='String'>
        MATCH (country:Country {id: #{id}}) DELETE country
   </delete>

</mapper>